Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

In [3]:
from multiprocessing import Pool
from tqdm import tqdm_notebook as tqdm

In [4]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [6]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [7]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

In [8]:
df = combine_df

# 1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()
 1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим
функцию:
2. Изменим регистр твитов на нижний с помощью .lower().

In [9]:
re.findall(r'@[\w]*', str(df.tweet[0]))

['@user']

In [10]:
type(df['tweet'][0])

str

In [11]:
def replacement(text, regex=re.compile(r'@[\w]*')):
    try:
        return re.sub(regex, " ", text)
    except:
        return " "

In [12]:
%%time

with Pool(8) as p:
    tweet = list(tqdm(p.imap(replacement, df['tweet'])))

0it [00:00, ?it/s]

CPU times: user 7.82 s, sys: 3.14 s, total: 11 s
Wall time: 12.8 s

In [13]:
df['clear_tweet'] = tweet
df.sample(5)

,id,label,tweet,clear_tweet
34355,34356,NaN,#happiness is an inside #job.â¤ï¸ wishing y'...,#happiness is an inside #job.â¤ï¸ wishing y'...
13024,13025,0.0,going to tennessee with my family!!!! ð,going to tennessee with my family!!!! ð
34697,34698,NaN,@user elheraldonewstx: #dallas shooting #love...,elheraldonewstx: #dallas shooting #lovefiel...
43386,43387,NaN,i swear i heard something out front. hope i ca...,i swear i heard something out front. hope i ca...
1787,1788,0.0,to have @user joining us this year #freedomc...,to have joining us this year #freedomconfe...

# 3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [14]:
apostrophe_dict.keys()

dict_keys(["ain't", "aren't", "can't", "can't've", "'cause", "could've", "couldn't", "couldn't've", "didn't", "doesn't", "don't", "hadn't", "hadn't've", "hasn't", "haven't", "he'd", "he'd've", "he'll", "he'll've", "he's", "how'd", "how'd'y", "how'll", "how's", "i'd", "i'd've", "i'll", "i'll've", "i'm", "i've", "isn't", "it'd", "it'd've", "it'll", "it'll've", "it's", "let's", "ma'am", "mayn't", "might've", "mightn't", "mightn't've", "must've", "mustn't", "mustn't've", "needn't", "needn't've", "o'clock", "oughtn't", "oughtn't've", "shan't", "sha'n't", "shan't've", "she'd", "she'd've", "she'll", "she'll've", "she's", "should've", "shouldn't", "shouldn't've", "so've", "so's", "that'd", "that'd've", "that's", "there'd", "there'd've", "there's", "they'd", "they'd've", "they'll", "they'll've", "they're", "they've", "to've", "wasn't", "we'd", "we'd've", "we'll", "we'll've", "we're", "we've", "weren't", "what'll", "what'll've", "what're", "what's", "what've", "when's", "when've", "where'd", "where's", "where've", "who'll", "who'll've", "who's", "who've", "why's", "why've", "will've", "won't", "won't've", "would've", "wouldn't", "wouldn't've", "y'all", "y'all'd", "y'all'd've", "y'all're", "y'all've", "you'd", "you'd've", "you'll", "you'll've", "you're", "you've"])

In [15]:
def remove_apostrophe(text, apostrophe_dict = apostrophe_dict):
    try:
        res = ' '.join([w if w not in apostrophe_dict.keys() else apostrophe_dict[w] for w\
                        in text.split()])
        return res
    except:
        return ' '

In [16]:
df['tweet'][1]

"@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked"

In [17]:
remove_apostrophe(df['tweet'][1])

'@user @user thanks for #lyft credit i cannot use cause they do not offer wheelchair vans in pdx. #disapointed #getthanked'

In [18]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(remove_apostrophe, df['clear_tweet'])))

0it [00:00, ?it/s]

CPU times: user 39.8 s, sys: 22.1 s, total: 1min 1s
Wall time: 46.4 s

In [19]:
df['clear_tweet'] = tweet

In [20]:
df.sample(5)

,id,label,tweet,clear_tweet
9385,9386,0.0,u chi a ge ð¤. #school #festival #was #lau...,u chi a ge ð¤. #school #festival #was #lauch...
14692,14693,0.0,tonight feels so of chat but happy from your k...,tonight feels so of chat but happy from your k...
29121,29122,0.0,to see a #maltingfloor today @user this humb...,to see a #maltingfloor today this humble ingre...
39168,39169,NaN,@user wo mur mur ke tera dekhna #devakshi b...,wo mur mur ke tera dekhna #devakshi bg was too...
9554,9555,0.0,when you get great news on a sunday morning ab...,when you get great news on a sunday morning ab...

# 4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте(я сделал отдельные ф-ции чтобы их различать в будущем).

In [21]:
def remove_short_word(text, short_word_dict = short_word_dict):
    try:
        res = ' '.join([w if w not in short_word_dict.keys() else short_word_dict[w] for w\
                       in text.split()])
        return res
    except:
        return ' '

In [22]:
short_word_dict.keys()

dict_keys(['121', 'a/s/l', 'adn', 'afaik', 'afk', 'aight', 'alol', 'b4', 'b4n', 'bak', 'bf', 'bff', 'bfn', 'bg', 'bta', 'btw', 'cid', 'cnp', 'cp', 'cu', 'cul', 'cul8r', 'cya', 'cyo', 'dbau', 'fud', 'fwiw', 'fyi', 'g', 'g2g', 'ga', 'gal', 'gf', 'gfn', 'gmbo', 'gmta', 'h8', 'hagn', 'hdop', 'hhis', 'iac', 'ianal', 'ic', 'idk', 'imao', 'imnsho', 'imo', 'iow', 'ipn', 'irl', 'jk', 'l8r', 'ld', 'ldr', 'llta', 'lmao', 'lmirl', 'lol', 'ltr', 'lulab', 'lulas', 'luv', 'm/f', 'm8', 'milf', 'oll', 'omg', 'otoh', 'pir', 'ppl', 'r', 'rofl', 'rpg', 'ru', 'shid', 'somy', 'sot', 'thanx', 'thx', 'ttyl', 'u', 'ur', 'uw', 'wb', 'wfm', 'wibni', 'wtf', 'wtg', 'wtgp', 'ym', 'gr8'])

In [23]:
df['tweet'][1]

"@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked"

In [24]:
remove_short_word(df['tweet'][1])

"@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked"

In [25]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(remove_short_word, df['clear_tweet'])))

0it [00:00, ?it/s]

CPU times: user 16 s, sys: 7.73 s, total: 23.8 s
Wall time: 22.1 s

In [26]:
df['clear_tweet'] = tweet
df.sample(5)

,id,label,tweet,clear_tweet
17163,17164,0.0,hmmmmmm.... i'm hopeless.. #why#is#it#so #today,hmmmmmm.... I am hopeless.. #why#is#it#so #today
40165,40166,NaN,sun sets on the flint hills and a super week o...,sun sets on the flint hills and a super week o...
19632,19633,0.0,looks like waterproofs will be a necessity on ...,looks like waterproofs will be a necessity on ...
1462,1463,0.0,waiting to see the wonderful @user live at qpa...,waiting to see the wonderful live at qpac! #wo...
8437,8438,0.0,let this be a great summer! #sohyped,let this be a great summer! #sohyped

# 5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [27]:
emoticon_dict.keys()

dict_keys([':)', ':‑)', ':-]', ':-3', ':->', '8-)', ':-}', ':o)', ':c)', ':^)', '=]', '=)', '<3', ':-(', ':(', ':c', ':<', ':[', '>:[', ':{', '>:(', ':-c', ':-< ', ':-[', ':-||'])

In [28]:
def remove_emoticon(text, emoticon = emoticon_dict.keys(), emoticon_dict = emoticon_dict):
    try:
        res = ' '.join([w if w not in emoticon else emoticon_dict[w] for w in text.split()])
        return res
    except:
        return ' '

In [29]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(remove_emoticon, df['clear_tweet'])))

0it [00:00, ?it/s]

CPU times: user 5.64 s, sys: 822 ms, total: 6.46 s
Wall time: 12 s

In [30]:
df['clear_tweet'] = tweet

In [31]:
df.sample(5)

,id,label,tweet,clear_tweet
26779,26780,0.0,downloading the #ios10 beta! #iphone #ipadpr...,downloading the #ios10 beta! #iphone #ipadpro ...
24108,24109,0.0,@user .@user introducing our keynote speaker ...,. introducing our keynote speaker at #eclipsec...
40261,40262,NaN,"@user shhhh, don't tell ð it's #cheatday ð...","shhhh, do not tell ð it has / it is #cheatd..."
28891,28892,0.0,that's what we're about #foundationstaers ð,that has / that is what we are about #foundati...
4980,4981,0.0,awesome sailboat! âµ#awesome #baltimore #sa...,awesome sailboat! âµ#awesome #baltimore #sail...

# 6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [32]:
def replacement(text, regex = re.compile(r'[^\w\s]')):
    try:
        return re.sub(regex, " ", text)
    except:
        return " "

In [33]:
df['tweet'][0]

' @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run'

In [34]:
replacement(df['tweet'][0])

'  user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction     run'

In [35]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(replacement, df['clear_tweet'])))

0it [00:00, ?it/s]

CPU times: user 6.99 s, sys: 1.8 s, total: 8.79 s
Wall time: 13.6 s

In [36]:
tweet[0]

'when a father is dysfunctional and is so selfish he drags his kids into his dysfunction   run'

In [37]:
df['clear_tweet'] = tweet

In [38]:
df.sample(5)

,id,label,tweet,clear_tweet
32381,32382,NaN,nice! @user @user #ready @user coming to oakl...,nice ready coming to oakland the marijuana ...
27665,27666,0.0,#father's #day! -from gearhead homes fathe...,father s day from gearhead homes fathersda...
21743,21744,0.0,@user you can score your tickets for #bornfohi...,you can score your tickets for bornfohis here...
43195,43196,NaN,thanks for your service @user stories like th...,thanks for your service stories like this make...
21579,21580,0.0,happy father's day! #trulyblessed #fathersda...,happy father s day trulyblessed fathersday ...

# 7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [39]:
def replacement(text, regex = re.compile(r'[^a-zA-Z0-9]')):
    try:
        return re.sub(regex, " ", text)
    except:
        return " "

In [40]:
df['tweet'][26]

' @user all #smiles when #media is   !! ð\x9f\x98\x9cð\x9f\x98\x88 #pressconference in #antalya #turkey ! sunday #throwback  love! ð\x9f\x98\x8að\x9f\x98\x98â\x9d¤ï¸\x8f '

In [41]:
re.sub(re.compile(r'[^a-zA-Z0-9]'), " ", df['tweet'][26])

'  user all  smiles when  media is                pressconference in  antalya  turkey   sunday  throwback  love                 '

In [42]:
replacement(df['tweet'][26])

'  user all  smiles when  media is                pressconference in  antalya  turkey   sunday  throwback  love                 '

In [43]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(replacement, df['clear_tweet'])))

0it [00:00, ?it/s]

CPU times: user 6.34 s, sys: 1.8 s, total: 8.15 s
Wall time: 9.93 s

In [44]:
df['clear_tweet'] = tweet
df.sample(5)

,id,label,tweet,clear_tweet
43013,43014,NaN,thehistorypic: muhammad ali showing off his w...,thehistorypic muhammad ali showing off his we...
16970,16971,0.0,mondaymorning #understanding#sharelove#peace ...,mondaymorning understanding sharelove peace
47999,48000,NaN,@user most of us have asked their parents if ...,most of us have asked their parents if they re...
45076,45077,NaN,my life #blessedð #lovemiamið #lovemylif...,my life blessed lovemiami lovemylif...
32514,32515,NaN,@user &lt;3 listen to my most beautiful best f...,lt 3 listen to my most beautiful best friend ...

# 8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [45]:
def replacement(text, regex = re.compile(r'[^a-zA-Z]')):
    try:
        return re.sub(regex, " ", text)
    except:
        return " "

In [46]:
df['tweet'][5]

'[2/2] huge fan fare and big talking before they leave. chaos and pay disputes when they get there. #allshowandnogo  '

In [47]:
re.sub(re.compile(r'[^a-zA-Z]'), " ", df['tweet'][5])

'      huge fan fare and big talking before they leave  chaos and pay disputes when they get there   allshowandnogo  '

In [48]:
replacement(df['tweet'][5])

'      huge fan fare and big talking before they leave  chaos and pay disputes when they get there   allshowandnogo  '

In [49]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(replacement, df['clear_tweet'])))

0it [00:00, ?it/s]

CPU times: user 6.29 s, sys: 1.03 s, total: 7.33 s
Wall time: 11.9 s

In [50]:
df['clear_tweet'] = tweet
df.sample(5)

,id,label,tweet,clear_tweet
18020,18021,0.0,bbc 1 though.,bbc though
32667,32668,NaN,1 of my biggest dream came true today.details ...,of my biggest dream came true today details ...
47843,47844,NaN,@user ð . there is no situation where insul...,there is no situation where insulting v...
12936,12937,0.0,stupid phone so i spend two wks writin my firs...,stupid phone so i spend two wks writin my firs...
29734,29735,0.0,pa1 #dance#é é#next#club#mas#rin#karen#yest...,pa dance next club mas rin karen yest...

# 9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [51]:
def delete_1_char(text):
    try:
        return ' '.join([w for w in text.split() if len(w)>1])
    except:
        return " "

In [52]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(delete_1_char, df['clear_tweet'])))

0it [00:00, ?it/s]

CPU times: user 11.8 s, sys: 5.13 s, total: 17 s
Wall time: 16 s

In [53]:
df['clear_tweet'] = tweet

In [54]:
df.sample(5)

,id,label,tweet,clear_tweet
24941,24942,0.0,looks like i gave sanders too much credit last...,looks like gave sanders too much credit last n...
5349,5350,0.0,when i say niggas ain't shit smh they aint shi...,when say niggas am not are not shit smh they a...
41348,41349,NaN,"gave lucy away to her new home, at least i get...",gave lucy away to her new home at least get to...
14033,14034,0.0,"tell dad you love him, @user -style #shoplocal...",tell dad you love him style shoplocal fathersd...
32378,32379,NaN,i got nothing. no words. just weeping. #orland...,got nothing no words just weeping orlando heab...

# 10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [55]:
from nltk import tokenize as tknz

In [56]:
def make_tokens(text):
    return tknz.word_tokenize(text)

In [57]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(make_tokens, df['clear_tweet'])))

0it [00:00, ?it/s]

CPU times: user 8.79 s, sys: 2.61 s, total: 11.4 s
Wall time: 18.3 s

In [58]:
df['tweet_token'] = tweet

In [59]:
df.sample(5)

,id,label,tweet,clear_tweet,tweet_token
31849,31850,0.0,loving the sun today! #summer #sunny #garden #...,loving the sun today summer sunny garden sunba...,"[loving, the, sun, today, summer, sunny, garde..."
25367,25368,0.0,easy apple ta recipe #appleta #applepie #food...,easy apple ta recipe appleta applepie food yum...,"[easy, apple, ta, recipe, appleta, applepie, f..."
10833,10834,1.0,.@user .@user #maga .@user silence is approva...,maga silence is approval we always knew what p...,"[maga, silence, is, approval, we, always, knew..."
13801,13802,0.0,@user bruh people really be knowing better an...,bruh people really be knowing better and still...,"[bruh, people, really, be, knowing, better, an..."
32560,32561,NaN,enjoying a sunday relax âï¸âï¸ð #mall...,enjoying sunday relax mallife coffee sundayfun...,"[enjoying, sunday, relax, mallife, coffee, sun..."

# 11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [60]:
from nltk.corpus import stopwords

In [61]:
stop_words = set(stopwords.words("english"))

In [62]:
def remove_stopwords(tokens, stop_words = stop_words):
    return [t for t in tokens if t not in stop_words]

In [63]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(remove_stopwords, df['tweet_token'])))

0it [00:00, ?it/s]

CPU times: user 20.5 s, sys: 10.1 s, total: 30.7 s
Wall time: 26 s

In [64]:
df['tweet_token_filtered'] = tweet

In [65]:
df.sample(5)

,id,label,tweet,clear_tweet,tweet_token,tweet_token_filtered
43165,43166,NaN,"hey, please check out my first composition, t...",hey please check out my first composition tnx ...,"[hey, please, check, out, my, first, compositi...","[hey, please, check, first, composition, tnx, ..."
11008,11009,0.0,i am thankful for food.#thankful #positive,am thankful for food thankful positive,"[am, thankful, for, food, thankful, positive]","[thankful, food, thankful, positive]"
2019,2020,0.0,always be #4daystogokianandjc,always be daystogokianandjc,"[always, be, daystogokianandjc]","[always, daystogokianandjc]"
24123,24124,1.0,@user your comments are reflections of ignoran...,your comments are reflections of ignorance and...,"[your, comments, are, reflections, of, ignoran...","[comments, reflections, ignorance, endofcivili..."
37295,37296,NaN,ppl are stealing this tweet just for s,people are stealing this tweet just for,"[people, are, stealing, this, tweet, just, for]","[people, stealing, tweet]"

# 12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [66]:
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import wordnet

In [67]:
stemmer = PorterStemmer()

def porterstem(tokens, stemmer = stemmer):
    return [stemmer.stem(t) for t in tokens]

In [68]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(porterstem, df['tweet_token_filtered'])))

0it [00:00, ?it/s]

CPU times: user 10.4 s, sys: 3.23 s, total: 13.6 s
Wall time: 22.1 s

In [69]:
df['tweet_stemmed'] = tweet

In [70]:
df.sample(5)

,id,label,tweet,clear_tweet,tweet_token,tweet_token_filtered,tweet_stemmed
5603,5604,0.0,@user did you see it gian @user ?? â£ðâ£,did you see it gian,"[did, you, see, it, gian]","[see, gian]","[see, gian]"
13998,13999,0.0,#rip my headphonesð­,rip my headphones,"[rip, my, headphones]","[rip, headphones]","[rip, headphon]"
17206,17207,0.0,"when life gives you lemons, make lemon meringu...",when life gives you lemons make lemon meringue...,"[when, life, gives, you, lemons, make, lemon, ...","[life, gives, lemons, make, lemon, meringue, p...","[life, give, lemon, make, lemon, meringu, pie,..."
12085,12086,0.0,i am alone #relatable #tumblr #emo #indie #l...,am alone relatable tumblr emo indie like likef...,"[am, alone, relatable, tumblr, emo, indie, lik...","[alone, relatable, tumblr, emo, indie, like, l...","[alon, relat, tumblr, emo, indi, like, likefor..."
27778,27779,0.0,lovely day â¨â¤ï¸ #friends #love #goodmom...,lovely day friends love goodmoment nantes city...,"[lovely, day, friends, love, goodmoment, nante...","[lovely, day, friends, love, goodmoment, nante...","[love, day, friend, love, goodmoment, nant, ci..."

# 13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [77]:
import nltk

In [78]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/fn/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [79]:
lemmatizer = WordNetLemmatizer()

In [84]:
lemmatizer.lemmatize(str(df['tweet_token_filtered'][0]), pos = wordnet.VERB)

"['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run']"

In [85]:
lemmatizer.lemmatize(str(df['tweet_token_filtered'][0]))

"['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run']"

In [86]:
def wnlemmatizer (tokens, lemmatizer = lemmatizer, pos = wordnet.VERB):
    return [lemmatizer.lemmatize(t, pos) for t in tokens]

In [87]:
%%time

with Pool(3) as p:
    tweet = list(tqdm(p.imap(wnlemmatizer, df['tweet_token_filtered'])))

0it [00:00, ?it/s]

CPU times: user 6.38 s, sys: 1.58 s, total: 7.96 s
Wall time: 11.2 s

In [88]:
df['tweet_lemmatised'] = tweet

In [89]:
df.sample(5)

,id,label,tweet,clear_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatised
14845,14846,0.0,healthy is . #docto #thoughtoftheday #quote,healthy is docto thoughtoftheday quote,"[healthy, is, docto, thoughtoftheday, quote]","[healthy, docto, thoughtoftheday, quote]","[healthi, docto, thoughtoftheday, quot]","[healthy, docto, thoughtoftheday, quote]"
26649,26650,0.0,husbands love god more than your #wives ...wiv...,husbands love god more than your wives wives l...,"[husbands, love, god, more, than, your, wives,...","[husbands, love, god, wives, wives, love, god,...","[husband, love, god, wive, wive, love, god, hu...","[husband, love, god, wive, wive, love, god, hu..."
9375,9376,0.0,@user #davidguetta last night in #ibiza | #sp...,davidguetta last night in ibiza spain vacation...,"[davidguetta, last, night, in, ibiza, spain, v...","[davidguetta, last, night, ibiza, spain, vacat...","[davidguetta, last, night, ibiza, spain, vacat...","[davidguetta, last, night, ibiza, spain, vacat..."
19684,19685,0.0,@user #wrist #anyway #liquor #royalty #little_...,wrist anyway liquor royalty little more father...,"[wrist, anyway, liquor, royalty, little, more,...","[wrist, anyway, liquor, royalty, little, fathe...","[wrist, anyway, liquor, royalti, littl, father...","[wrist, anyway, liquor, royalty, little, fathe..."
3715,3716,0.0,â #australia: employment growth likely cont...,australia employment growth likely continued t...,"[australia, employment, growth, likely, contin...","[australia, employment, growth, likely, contin...","[australia, employ, growth, like, continu, may...","[australia, employment, growth, likely, contin..."

# 14. Сохраним результат предобработки в pickle-файл.

In [90]:
df.to_pickle("./lesson_01_preprocessing.pkl")